$-ff-secondary: 'Larsseit', sans-serif;
$-ff-primary: 'Open Sans', sans-serif;

$font-family-primary: $-ff-primary;
$font-family-secondary: $-ff-secondary;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;